.producto {
    border-radius: 0.3em;
    padding: 0.3em;
}

.producto:hover{
    background-color: #442976;
    cursor: pointer;
}

.icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    width: 1.9em;
    height: 1.9em;
    border: 1px solid #FFF;
    border-radius: 50%;
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-left: 0.2em;
    text-align: center
}

.icon-container:hover {
    background-color: #fff;
    border-color: #ffb80c
}

.producto-general {
    color: #50328c
}

.producto-pdf,.producto-audiovisual {
    color: #ea4335
}

.producto-db {
    color: #30a338
}

.producto-presentacion {
    color: #cc9111
}

.producto-cuantitativo {
    color: #1450b3
}

.producto-dataviz {
    color: #c99e05
}

.ficha {
    border-radius: .5em;
    max-width: 920px;
    margin: 0 auto;
    color: #fff;
    border: 0px
}

.ficha .ficha-footer {
    background-color: #fff;
    color: #999;
    border: 0px;
    border-radius: 0 0 .5em .5em;
    height: 4em
}

.logo-orfeo {
    width: 1em
}

.logo-dogcc {
    width: 160px
}

.ficha-body {
    background-color: #23143c;
    padding: 2em 1em;
    min-height: 400px;
    border-radius: .5em .5em 0 0;
    background: rgb(32, 14, 60);
    background: linear-gradient(180deg, rgba(32, 14, 60, 1) 0%, rgba(70, 43, 121, 1) 100%);
}

.ficha-body a {
    color: #fff;
}

.ficha-body .text-muted {
    color: #ccc !important
}

.ficha .title {
    color: #fab937;
    font-size: 2em;
    font-weight: 700
}

.subtitulo{
    text-align: center;
    color: #FAB937;
    font-weight: bold;
    margin-top: 2em;
}